:root {
  --font-family: var(--vscode-font-family);
  --font-size: var(--vscode-font-size);
  --focusBorder: var(--vscode-focusBorder);
  --background: var(--vscode-editor-background);
  --foreground: var(--vscode-editor-foreground);
  --inputBackground: var(--vscode-input-background);
  --inputForeground: var(--vscode-input-foreground);
  --inputPlaceholderForeground: var(--vscode-input-placeholderForeground);
  --buttonBackground: var(--vscode-button-background);
  --buttonForeground: var(--vscode-button-foreground);
  --buttonHoverBackground: var(--vscode-button-hoverBackground);
  --listHoverBackground: var(--vscode-list-hoverBackground);
  --disabledForeground: var(--vscode-disabledForeground);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--vscode-sideBar-background);
  padding: 20px;
  min-width: 300px;
}

.todo-list {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--listHoverBackground);
  margin-bottom: 1px;
  border-radius: 5px;
  color: var(--foreground);
  border: none; /* Remove default border */
}

.todo-list li.done {
  text-decoration: line-through;
  color: var(--disabledForeground);
}

.editing {
  outline: 1px solid var(--focusBorder);
}

.todo-list .edit-btn,
.todo-list .pin-btn,
.todo-list .delete-btn {
  background-color: var(--buttonBackground);
  color: var(--buttonForeground);
  border: none;
  padding: 4px;
  cursor: pointer;
  border-radius: 5px;
}

.todo-list .delete-btn:hover,
.todo-list .pin-btn:hover,
.todo-list .edit-btn:hover {
  background-color: var(--buttonHoverBackground);
}

.edit-icon, .editing-icon, .pin-icon, .pinned-icon, .delete-icon {
  width: calc(var(--vscode-font-size) + 4px);
  height: calc(var(--vscode-font-size) + 4px); 
  vertical-align: middle;
  fill: var(--foreground);
}


.input-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

#new-task-input {
  flex-grow: 1;
  padding: 10px;
  background-color: var(--inputBackground);
  border: none;
  /* border: 1px solid var(--focusBorder); Update border color */
  border-radius: 5px;
  color: var(--inputForeground);
  margin-right: 10px;
}

#new-task-input::placeholder {
  color: var(--inputPlaceholderForeground);
}

.add-btn {
  background-color: var(--buttonBackground);
  color: var(--buttonForeground);
  border: none;
  padding: 10px;
  width: 38px;
  cursor: pointer;
  border-radius: 5px;
}

.add-btn:hover {
  background-color: var(--buttonHoverBackground);
}
